@media screen and (max-width:425px) {
   *{
    margin: 0;
   }
   
    nav {
        flex-direction: column;
        gap: 20px;
       

       
    }

    .nav-menus-container>ul {

        flex-direction: column;
        text-align: center;
        gap: 20px;
        margin-left: 200px;
        
    }
    .Follow{
        padding: 15px 55px;
       
        
    }

.banner{
    
    flex-direction: column;
    gap: 10px;

    width: 100%;
}


.banner-text{
    padding:50px;
    
    
}

.online{
    margin: 50px 0;
    
}

.online-card{
    flex-direction: column;
    gap: 40px;
}

.background-colour{
    height: 88%;
    left: 5px;
   
}
.bgc{
    height: 92%;
}






.play-game{
    
    flex-direction: column;
}
.play-game-text{
    width: 100%;
    
    text-align: center;
}

.horse-img {
    width: 60%;
    margin-left: 100px;
}
.angle-img{
    width: 30%;
   bottom: -50px;
   
}







.button-section{
   width: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin: 30px;
   padding-bottom: 30px;
   gap: 30px;
}


.button{
    width: auto;
    margin: 0;
    padding: 5px;
    gap: 5px;
    
}
.button > img{
    width: 25%;
}
.button > h2{
    font-size: 0.8em;
}
.button:hover{
    width: 100%;
}






.footer{
    width: 100%;
    gap: 10px
}

.footer-logo-container,
.footer-menus>ul,
.footer-icons,
.footer-text>ul, .description-footer-copyright {
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
}